body{
	font-size: $fontsize;
	font-family: "Lato";
	background-color: #f4f4f4;
}


.container{
	width: 500px;
	margin: auto;
}

input{
	width: 100%;
}

.title{
	text-align: center;
	font-size: 4em !important;
	margin: .2em 0;
}

.nav, .vnav, .hllist, .icons, .iconsquare{
	text-align: center;
}
.vnav, .icons, .iconsquare, .headings{
	margin: 1em auto;
}

@for $i from 0 through 5{
    .headings h#{$i + 1} {
		text-align: center;
    }
}