// MIXINS

@mixin circle($width : 100px, $color : #CC0066) {
width: $width;
height: $width;
background: $color;
@include border-radius($width);
}

// FUNCTIONS

// Convert px to em

@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}