// SETTINGS
$i : 0;

$fontsize  :16px;
$colormenu : #5fc76a;
$hovermenu : $colormenu - 40;
$textcolor : #777777;
$bgpanel   : #f5f5f5;

// SN Colors

$twitter: #00aced;
$facebook: #3b5998;
$plus: #da4a38;
$instagram: #7b360d;