@import "compass/css3";

@import "settings";
@import "mixins";
@import "layout";


@include font-face("Icons", font-files("fontello.eot", "fontello.svg","fontello.woff","fontello.ttf"));

body{
	font-family: 'Lato';
	font-weight: 200;
}

h1{
	font-weight: bolder;
	font-size: 3em;
	color: $textcolor;
	@include text-shadow(white 1px 1px 0);
}


a{
	text-decoration: underline;
	color: $colormenu;
	@include transition-property(all);
	@include transition-duration(.2s);
	@include transition-timing-function(ease-in);
	&:hover{
		color: $hovermenu;
	}
}

.nav{
	margin: 1em auto;
	padding: 0;
	text-align: center;
	li{
		list-style: none;
		display: inline-block;
		a{
			display: block;
			margin: 0 .5em 0 0;
			background-color: $colormenu;
			color: (#FDEDD0 + 40);
			text-decoration: none;
			padding: 1.5em .8em;
			font-family: 'Lato';
			font-weight: 300;
			text-transform: uppercase;
			border-bottom: 2px solid $hovermenu;
			&:hover{
				background-color: $hovermenu ;
			}
		}
	}
}
.vnav{
	// margin: 0;
	padding: 0;
	width: auto;
	width: 300px;
	li{
		list-style: none;
		border-bottom: 2px solid $hovermenu;
		padding: 0;
		margin: 0;
		width: 100%;
		display: block;
		a{
			display: block;
			width: em(300px, $fontsize) - 1.5em;
			margin: 0 .5em 0 0;
			background-color: $colormenu;
			color: (#FDEDD0 + 40);
			text-decoration: none;
			padding: 1.5em .8em;
			font-family: 'Lato';
			font-weight: 300;
			text-transform: uppercase;
			&:hover{
				background-color: $hovermenu ;
			}
		}
	}
	&:last-child{
		border-bottom: none !important;
	}
}
.hllist{
	margin: 1em 0;
	padding: 0;
	li{
		list-style: none;
		display: inline-block;
		border-left: solid 1px $colormenu;
			&:first-child{
			border-left: none !important;
			}
		a{
			display: block;
			padding: .1em 1em;
			font-weight: 300;

		}
	}
}
.icons{
	margin: 0;
	padding: 0;
	li{
		list-style: none;
		display: inline-block;
		a{
			$height:40px;
			$circleheight:$height/2;
			margin: 0 .5em 0 0;
			display: block;
			 @include circle( $circleheight, #443762);
			background-color: $colormenu;
			padding: $height/4;
			color: (#FDEDD0 + 40);
			text-decoration: none;
			text-align: center;
			// padding: 1.5em .8em;
			font-family: 'Icons';
			font-weight: 300;
			@include single-text-shadow($hovermenu, 1px, 1px, 0);
			@include transition-property(all);
			@include transition-duration(.2s);
			@include transition-timing-function(ease-in);
			// text-transform: uppercase;
			border-bottom: 2px solid $hovermenu;
			&:hover{
				background-color: $hovermenu ;
				@include scale(1.2); 
			}
		}
	}
}

input{
	font-size: 1em;
	padding: 1em;
	border: 1px solid #dcdcdc;
	display: inline-block;
	margin: 1em 0;
	font-weight: 400;
	color: #616161;
	display: block;
}

textarea{
	@extend input;
}

.panel{
	border: 1px solid $bgpanel - 80;
	background-color: $bgpanel;
	padding: 1em;
	color: $textcolor - 60 ;
}

blockquote{
	margin-left: 1em;
	border-left: $bgpanel - 80 .5em solid;
	background-color: $bgpanel + 20; 
	padding: .5em .5em .5em 1em;
	font-style: italic;
}