@import "compass/css3";

@include font-face("Icons", font-files("fontello.eot", "fontello.svg","fontello.woff","fontello.ttf"));

@import "settings";
@import "mixins";
@import "layout";


body{
	font-family: $primaryfont;
	font-weight: 200;
}

h1{
	font-size: 3em;
	color: $textcolor;
	@include text-shadow(white 1px 1px 0);
}

@for $i from 0 through 5{
    h#{$i + 1} {
    	$valor: 3-(.3 * $i);
		font-size: #{$valor}em;
		margin: 0;
		color: $textcolor;
		// @include text-shadow(white 1px 1px 0);
    }
}

a{
	text-decoration: underline;
	color: $colormenu;
	@include transition-property(all);
	@include transition-duration(.2s);
	@include transition-timing-function(ease-in);
	&:hover{
		color: $hovermenu;
	}
}

.nav{
	padding: 0;
	text-align: center;
	li{
		list-style: none;
		display: inline-block;
		overflow: hidden;
		height: auto;
		a{
			display: block;
			margin: 0 .5em 0 0;
			background-color: $colormenu;
			color: (#FDEDD0 + 40);
			text-decoration: none;
			padding: 1.5em .8em;
			font-family: $primaryfont;
			font-weight: 300;
			text-transform: uppercase;
			border-bottom: 2px solid $hovermenu;
			&:hover{
				background-color: $hovermenu ;
			}
		}
	}
}
.vnav{
	// margin: 0;
	padding: 0;
	width: auto;
	width: 300px;
	li{
		list-style: none;
		border-bottom: 2px solid $hovermenu;
		padding: 0;
		margin: 0;
		width: 100%;
		display: block;
		a{
			display: block;
			width: em(300px, $fontsize) - 1.5em;
			margin: 0 .5em 0 0;
			background-color: $colormenu;
			color: (#FDEDD0 + 40);
			text-decoration: none;
			padding: 1.5em .8em;
			font-family: $primaryfont;
			font-weight: 300;
			text-transform: uppercase;
			&:hover{
				background-color: $hovermenu ;
			}
		}

	}

}

.vnav li:last-child{
	border-bottom: none !important;
	a{
		@include border-bottom-radius(.3em); 
	} 
}

.vnav li:first-child{
	a{
		@include border-top-radius(.3em); 
	} 
}

.hllist{
	margin: 1em 0;
	padding: 0;
	li{
		list-style: none;
		display: inline-block;
		border-left: solid 1px $colormenu;
			&:first-child{
			border-left: none !important;
			}
		a{
			display: block;
			padding: .1em 1em;
			font-weight: 300;

		}
	}
}
.icons{
	padding: 0;
	li{
		list-style: none;
		display: inline-block;
		a{
			$height:40px;
			$circleheight:$height/2;
			margin: 0 .5em 0 0;
			display: block;
			 @include circle( $circleheight, #443762);
			background-color: $colormenu;
			padding: $height/4;
			color: (#FDEDD0 + 40);
			text-decoration: none;
			text-align: center;
			// padding: 1.5em .8em;
			font-family: 'Icons';
			font-weight: 300;
			@include single-text-shadow($hovermenu, 1px, 1px, 0);
			@include transition-property(all);
			@include transition-duration(.2s);
			@include transition-timing-function(ease-in);
			// text-transform: uppercase;
			border-bottom: 2px solid $hovermenu;
			&:hover{
				background-color: $hovermenu ;
				@include scale(1.2); 
			}
		}
	}
}
.iconsquare{
	padding: 0;
	text-align: center;
	li{
		list-style: none;
		display: inline-block;
		a{
			$height:100px;
			$circleheight:$height/2;
			width: $height;
			height: $height/2;
			margin: 0 .5em 0 0;
			display: block;
			background-color: $colormenu;
			padding: $height/4 0 $height/4 0;
			color: (#FDEDD0 + 40);
			text-decoration: none;
			text-align: center;
			font-family: 'Icons';
			font-weight: 300;
			font-size: 2em;
			@include single-text-shadow($hovermenu, 1px, 1px, 0);
			@include transition-property(all);
			@include transition-duration(.2s);
			@include transition-timing-function(ease-in);
			// text-transform: uppercase;
			border-bottom: 2px solid $hovermenu;
			&:hover{
				background-color: $hovermenu ;
				@include scale(1.2); 
			}
			b{
				font-family: $primaryfont;
				font-size: .4em !important;
				display: block;
				font-weight: 300;
				margin-top: .4em;
			}
		}
	}
}

.snetwork{
	padding: 0;
	text-align: center;
	li{
		list-style: none;
		display: inline-block;
		a{
			$height:100px;
			$circleheight:$height/2;
			width: $height;
			height: $height/2;
			margin: 0 .5em 0 0;
			display: block;
			padding: $height/4 0 $height/4 0;
			color: (#FDEDD0 + 40);
			text-decoration: none;
			text-align: center;
			font-family: 'Icons';
			font-weight: 300;
			font-size: 2em;
			@include transition-property(all);
			@include transition-duration(.2s);
			@include transition-timing-function(ease-in);
			&:hover{
				@include border-radius($height);
			}
			b{
				font-family: $primaryfont;
				font-size: .4em !important;
				display: block;
				font-weight: 300;
				margin-top: .4em;
			}
		}
	}
}

// SN Icon-Squared Buttons

a.tw{
	background-color: $twitter;
	border-bottom: 2px solid $twitter - 30;
	@include single-text-shadow($twitter - 30, 1px, 1px, 0);
	&:hover{
		background-color: $twitter - 30;
	}
}
a.fb{
	background-color: $facebook;
	border-bottom: 2px solid $facebook - 30;
	@include single-text-shadow($facebook - 30, 1px, 1px, 0);
	&:hover{
		background-color: $facebook - 30;
	}
}
a.plus{
	background-color: $plus;
	border-bottom: 2px solid $plus - 30;
	@include single-text-shadow($plus - 30, 1px, 1px, 0);
	&:hover{
		background-color: $plus - 30;
	}
}
a.igram{
	background-color: $instagram;
	border-bottom: 2px solid $instagram - 30;
	@include single-text-shadow($instagram - 30, 1px, 1px, 0);
	&:hover{
		background-color: $instagram - 30;
	}
}


input{
	font-size: 1em;
	padding: 1em;
	border: 1px solid #dcdcdc;
	display: inline-block;
	margin: 1em 0;
	font-weight: 400;
	color: #616161;
	display: block;
	background-color: #f3f3f3;
	@include transition-property(all);
	@include transition-duration(.4s);
	@include transition-timing-function(ease-in);
	&:focus{
		outline:none;
		@include box-shadow($colormenu + 100 0 0 5px); 
		border: 1px solid $colormenu;
		background-color: white;
	}
}

textarea{
	@extend input;
}

.panel{
	border: 1px solid $bgpanel - 80;
	background-color: $bgpanel;
	padding: 1em;
	color: $textcolor - 60 ;
	width: 100%;
}

.button{
	display: inline-block;
	width: auto !important;
	margin: 1em;
	background-color: $colormenu;
	@include border-radius(.3em);
	padding: 1em;
	color: white;
	&:hover{
		background-color: $hovermenu;
		cursor: pointer;
	}
}
blockquote{
	margin-left: 1em;
	border-left: $bgpanel - 80 .5em solid;
	background-color: $bgpanel + 20; 
	padding: .5em .5em .5em 1em;
	font-style: italic;
}

#gallery{
	position: relative;
	overflow: hidden;
	width: auto;
	height: 100%;
	&:hover > .caption{
		top:0;
		cursor: pointer;
	}
}
.caption{
	position: absolute;
	top: 100%;
	left: 0;
	background-color: rgba($hovermenu, .8);
	font-family: 'Icons';
	height: 82%;
	width: 100%;
	font-size: 4em;
	color: white;
	text-align: center;
	padding-top: 16%;
	@include transition-property(all);
	@include transition-duration(.3s);
	@include transition-timing-function(ease-in);
	b{
		display: block;
		text-align: center;
		font-size: .3em !important;
		font-family: $primaryfont;
		font-weight: 200;
	}

}

.contentslider{
	color: white;
	margin: 1em 0;
	position: relative;
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
		li{
			margin: 0;
			width: 80%;
			padding: 10%;
			background-color: $colormenu;
			position: relative;
			h3{
				color: white !important;
				@include box-shadow($colormenu 0 0 1px); 
			}
		}
	}
}

.next, .prev{
	position: absolute;
	top:40%;
	background-color: $hovermenu;
	font-size: 1.7em;
	font-family: 'Icons';
	padding: .3em;
	&:hover{
		cursor: pointer;
		@include transition-property(all);
		@include transition-duration(.2s);
		@include transition-timing-function(ease-in);
		background-color: $hovermenu - 50 ;

	}
}
.next{
	right:0;
}



.submenu{
	position: absolute;
	margin: 0;
	padding: 0;
	opacity: 0;
	visibility: hidden;
	@include transition-property(all);
	@include transition-duration(.2s);
	@include transition-timing-function(ease-in-out);
	li{
		display: block !important;
		width: 100% !important;
	}
	
}

.nav li:hover .submenu, .nav li:focus .submenu{
	opacity: 1;
	overflow: hidden;
	visibility: visible;
}
.half{
	width: 40% !important;
	float: left;

}
input:first-child{
		margin-right: 3%;
	}